# Ignore node_modules directory
node_modules/

# Ignore package-lock.json file
package-lock.json

# Ignore dist directory
/dist/

# Ignore build directory
/build/

# Ignore logs directory
/logs/

# Ignore tmp directory
tmp/

# Ignore vendor directory
/vendor/

# Ignore .env file
.env